# Editor
.vscode
!tools/.vscode

# Releases
release

# Tool cache
__pycache__

# Arma
mission.sqm
!framework/rsc/loadouts/!*.sqf
framework/rsc/loadouts/*.sqf
framework/rsc/scripts/*.sqf

# Todos and changelogs
TODO.md
CHANGELOG.md

# template files
framework/components/_blank
framework/components/*/functions/fn_empty.sqf

# mkdoc
site