.md-typeset h1 {
    font-size: 1.875rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 1rem;
}

.md-typeset h2 {
    font-weight: 700;
    color: #333;
    margin-bottom: 0;
}

.md-typeset p {
    margin-top: 0;
}

.md-header__inner.md-grid {
    width: 100%;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    justify-content: space-between;
}

.md-header__source {
    margin-left: auto;
}

.md-tabs__item.md-tabs__item--active {
    background-color: #4051b5;
}

article.md-content__inner.md-typeset > h1:first-child {
    display: none;
}

.md-button.md-button--danger {
    background-color: rgb(181, 64, 64);
    border-color: rgb(181, 64, 64);
    color: hsla(var(--md-hue), 0%, 100%, 1);;
}

.md-button.md-button--danger:hover {
    background-color: rgb(186, 90, 90);
    border-color: rgb(186, 90, 90);
    color: hsla(var(--md-hue), 0%, 100%, 1);;
}

.grid.cards.col-3 {
    grid-template-columns: auto auto auto;
}

h1.function {
    color: #4051b5;
    margin-top: 0.66em;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: #4051b5 solid 1px;
}

h2.function {
    padding: 0.33em 2em;
    color: #4051b5;
    margin-top: 0.66em;
    font-size: 1.1em;
    font-weight: bold;
    background-color: #e6e9f7;
    border-bottom: #4051b5 solid 1px;
}

table.function-table {
    border: none;
    margin-top: 1rem;
    width: 100%;
}

table.function-table tr > th {
    width: 1%;
    white-space: nowrap;
    padding: 0;
    padding-bottom: 1rem;
    font-weight: 700;
    text-align: right;
    font-size: 0.75rem;
}

table.function-table tr > td {
    padding-left: 1rem;
    font-size: 0.75rem;
}

.function {
    font-size: 0.75rem;
}

div.function.notes {
    font-size: 0.6rem;
    text-align: center;
}

div.function.notes .md-button {
    padding: .468em 1.5em;
    border-width: 1px;
}

.highlight code {
    border: #4051b5 dashed 1px;
    width: 100%;
}

.grid.cards.downloads-card li {
    width: fit-content;
    justify-self: start;
}

.grid.cards.downloads-card li:first-child {
    justify-self: end;
}

.grid.cards.downloads-card li p {
    text-align: center;
}